{extend name="index/index"/}
{block name="content"}

<div class="tpl-content-wrapper">

    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 产品列表
            </div>
            <form action="proList" method="GET">
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        <i class="am-icon-search"></i>
                        <input name="keywords" type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                </div>
            </div>
            </form>


        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button onclick="location.href='proEdit'" type="button"
                                    class="am-btn am-btn-default am-btn-success">
                                <span class="am-icon-plus" href="proEdit"></span> 新增
                            </button>

                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <form name="cid" action="proList" method='GET'>
                            <select id="cid" name="cid" onchange="document.cid.submit()"
                                    data-am-selected="{btnSize: 'sm'}">

                                <option value="0">全部分类</option>
                                {foreach $cate as $arr}
                                <option value="{$arr.id}">{$arr.catename}</option>
                                {/foreach}

                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="tpl-table-images">

                    {foreach $data as $arr}
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                        <div class="tpl-table-images-content">
                            <div class="tpl-table-images-content-i-time">
                                ID:{$arr.id}&nbsp;&nbsp;&nbsp;排序:{$arr.order}&nbsp;&nbsp;&nbsp;类别:{$arr.catename}
                            </div>
                            <div class="tpl-i-title">
                                <a href="proEdit?id={$arr.id}">{$arr.title|mb_substr=0,14,'utf-8'}</a>
                            </div>
                            <a href="javascript:;" class="tpl-table-images-content-iiii tpl-table-images-content-i">

                                <span class="tpl-table-images-content-i"></span>
                                <img onclick="window.location.href='proEdit?id={$arr.id}'" src="{$arr.pic|noImage=###}" alt="">
                            </a>

                            <div class="tpl-table-images-content-block">
                                <div class="tpl-i-font">
                                    &nbsp;{$arr.desc|mb_substr=0,14,'utf-8'}
                                </div>
                                <div class="tpl-i-more am-text-right">
                                    <div class="tpl-table-images-content-i-time">{$arr.update_time}
                                    </div>
                                    <!--<ul>-->
                                        <!--<li><span class="am-icon-qq am-text-warning"> 100+</span></li>-->
                                        <!--<li><span class="am-icon-weixin am-text-success"> 235+</span></li>-->
                                        <!--<li><span class="am-icon-github font-green"> 600+</span></li>-->
                                    <!--</ul>-->
                                </div>
                                <div class="am-btn-toolbar ">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button onclick="window.location.href='proEdit?id={$arr.id}'" type="button"
                                                class="am-radius am-btn am-btn-secondary clearFloat">
                                            <span class="am-icon-edit"></span> 编辑
                                        </button>
                                    </div>

                                    <div class="am-btn-group am-btn-group-xs">
                                        <button onclick="del('proDel?id={$arr.id}')" type="button"
                                                class=" am-radius am-btn am-btn-danger">
                                            <span class="am-icon-trash-o"></span> 删除
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {/foreach}


                    <div class="am-u-lg-12">
                        <div class="am-cf">

                            <div class="am-fr">
                                {$data->render()}
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>


</div>

{/block}