{extend name="index/index"/}
{block name="content"}
<div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 用户编辑
                    </div>

                </div>
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">

                        <div class="am-u-sm-12 am-u-md-9">
                            <form enctype="multipart/form-data" class="am-form am-form-horizontal" method="POST" action="doUserAdd?id={$Think.get.id}" >

                                <div class="am-form-group">
                                    <label for="username" class="am-u-sm-3 am-form-label">账号</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" id="username" name="username" required="required" placeholder="请输入用户账号" value="{$data.username}">
                                        <small>账号不能为空</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">姓名</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="name"  placeholder="请输入用户姓名" value="{$data.name}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">电话</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="tel"  placeholder="请输入用户联系电话" value="{$data.tel}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>
{/block}
